@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monsieur+La+Doulaise&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pinyon+Script&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body, 
#root, 
.app {
  height: 100%;
  width: 100%;  
  margin: 0;
  font-family: 'Inter', sans-serif;
  /* background-color: #FAC0DC; */
}